*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 2048px;
    margin: auto;  
}

.users-display{
    margin: 2rem;
    display: flex;
    flex-wrap:wrap;
    /* justify-content:space-evenly; */
}

.users-display .user{
    /* background-color: burlywood; */
    margin: .3rem .1rem;
    position: relative;
}

.img-user{
    height: 150px;
    width: 250px;
    object-fit: cover;
}

.user-name{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .3rem;
    position: absolute;
    bottom: .2rem;
    left: 0rem;
    font-size: .9em;
}

.padding-right{
    padding-right: .5rem;
}

.bottom-nav{
    background-color: #222222;
    height: 100px;
}

.bottom{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}

ul{
    margin: 0;
	padding: 1rem 0;
    position: relative;
	display: flex;
}

ul li{
    list-style: none;
	text-align: center;
	display: block;
    padding-right: 3rem;
}

ul li a{
    text-decoration: none;
	
	display: block;
    color: white;
}

ul .icon{
    font-size: 1.8rem;
    padding-bottom: .5rem;
}

#ul-center{
    /* display: flex;
    justify-content: center; */
}


#ul-center li{
    padding-right: 1rem;
}



.arrow, .arrow2, .arrow3{
    position: absolute;
    left: 50px;
    bottom: 45px;
}

.arrow2{
    left: 170px;
}

.arrow3{
    left: 170px;
}