*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 2048px;
    margin: auto;  
}

.users-display{
    margin: 2rem;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.users-display .user{
    /* background-color: burlywood; */
    margin: .5rem .3rem;
    position: relative;
}

.img-user{
    height: 150px;
    width: 250px;
    object-fit: cover;
}

.user-name{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .3rem;
    position: absolute;
    bottom: .2rem;
    left: 0rem;
    font-size: .9em;
}

.padding-right{
    padding-right: .5rem;
}