*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 2048px;
    margin: auto;  
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.view{
    color: white;
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    
}
.white-btn{
    color: white;
    background-color: #4a4a4a;
    padding: .3rem;
    border-radius: 5px;
    margin: .3rem;
}

.users-display{
    margin: 2rem;
    display: flex;
    flex-wrap:wrap;
}

.users-display .user{
    margin: .3rem .1rem;
    position: relative;
}

.img-user{
    height: 150px;
    width: 250px;
    object-fit: cover;
    
    margin:auto;
}

.user-name{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .3rem;
    position: absolute;
    bottom: .2rem;
    left: 0rem;
    font-size: .9em;
}

.padding-right{
    padding-right: .5rem;
}

.bottom-nav{
    background-color: #222222;
    height: 100px;
    position: sticky;
    bottom: 0;
}

.bottom{
    /* margin: 2rem 2rem 0 2rem; */
    display: flex;
    justify-content: space-between;
}

ul{
    margin-left: 2rem;
	padding: 1rem 0;
    position: relative;
	display: flex;
}

ul li{
    list-style: none;
	text-align: center;
	display: block;
    padding-right: 3rem;
}

ul li a{
    text-decoration: none;
	
	display: block;
    color: white;
}

ul .icon{
    font-size: 1.8rem;
    padding-bottom: .5rem;
}

ul .name{
    font-size: .8em;
}

#ul-center{
    /* display: flex;
    justify-content: center; */
}


#ul-center li{
    padding-right: 1.5rem;
}



.arrow, .arrow2, .arrow3{
    position: absolute;
    left: 50px;
    bottom: 45px;
}

.arrow2{
    left: 170px;
}

.arrow3{
    left: 350px;
}

.special{
    margin-right: 2rem;
}

.special .icon{
    color: rgb(1, 190, 1);
}

.btn{
    line-height: 100px;
    vertical-align: middle;
    background-color: #4a4a4a;
    padding: 0 1rem;
}

.btn a{
    text-decoration: none;
    color: red;
    display: block;
}

.btn:hover{
    background-color: #696969;
}

.btn a:hover{
    color: white;
}